body {
  color: rgba(255, 255, 255, 0.87);
  background-color: #111;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.custom-btn {
  background-color: rgb(229, 9, 20);
  color: rgb(255, 255, 255);
  border: none;
  padding: 6px 16px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  line-height: 1.5;
  text-decoration: none;
}

.custom-btn:hover {
  background-color: #c21317;
}

.custom-select {
  background-color: #333;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 14px;
  font-weight: bold;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"%3E%3Cpath fill="%23FFF" d="M2 0L0 2h4z" opacity="0.6"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 10px 10px;
  padding-right: 30px;
}

.custom-select option {
  background-color: white;
  color: black;
}

.footer {
  color: #999;
  padding: 40px 20px;
}

.footer a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .select-wrapper {
  margin-top: 20px;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Center the hero content horizontally */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('/denemehero.jpg');
  /* Example URL */
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
  /* Cover full viewport height */
  z-index: 1;
  padding: 20px;
}

.text-color-primary {
  color: #c21317;
  font-weight: bold;
}

.hero-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.288);
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
  max-width: 700px;
  width: 100%;
}

.hero-card h1,
.hero-card p {
  margin: 0;
  padding: 5px 0;
}

.hero-card .btn {
  margin: 10px;
}

.movie {
  max-width: 300px;
  height: 100%;
  cursor: pointer;
}